@page "/checklist/{checklistId:int}"
@using ECC.Core;
@using ECC.Data.Models;
@inject IChecklistManager _manager;
@inject ILogger<ChecklistPage> _logger;
@inject NLog.ILogger _nlog;


@if (airplaneData == null)
{
	<div class="card">
		<div class="card-header">
			<p class="text-danger">No checklist data available for id @checklistId</p>
		</div>
	</div>
}
else
{
	<div class="card">
		<div class="card-header">
			@airplaneData.AirplaneName
		</div>
		<div class="card-body">

			@if (_checklist != null && _checklist.Sections.Count > 0)
			{
				@foreach (var section in _checklist.Sections)
				{
					<ECC.Web.Components.Checklist.SectionView sectionName="section.SectionName"
												  checklistItems="section.ChecklistItems" />
				}
			}
		</div>
	</div>
}


@code {
	[Parameter]
	public int? checklistId { get; set; }

	public Airplane? airplaneData { get; set; }

	private Checklist? _checklist;

	protected override void OnParametersSet()
	{
		if (checklistId != null && checklistId > 0)
		{
			LoadAircraftData((int)checklistId);
		}
	}

	private async void LoadAircraftData(int checklistId)
	{
		try
		{
			airplaneData = await _manager.GetChecklistForAirplane(checklistId);

			if (airplaneData != null)
				_checklist = airplaneData.Checklist.Where(x => x.ChecklistId == checklistId).FirstOrDefault();

			StateHasChanged();
		}
		catch (Exception ex)
		{
			_logger.LogError($"{ex.Message}");
		}
	}
}
