@page "/"
@using ECC.Core;
@using ECC.Data.Models;
@inject ChecklistFileManager _fileManager;
@inject ILogger<Index> _logger;
@inject NLog.ILogger _nlog;

<section class="py-5 text-center container">
	<div class="row py-lg-5">
		<div class="col-lg-6 col-md-8 mx-auto">
			<h1 class="fw-light">Elecntronic Checklist Companion</h1>
			<p class="lead text-muted">Companion app for flight simmer for a more easy managent of checklists.</p>
			@*<p>
				<a href="#" class="btn btn-primary my-2">Main call to action</a>
				<a href="#" class="btn btn-secondary my-2">Secondary action</a>
			</p>*@
		</div>
	</div>
</section>
<section class="py-2 container">
	<ECC.Web.Components.Index.AircraftChecklistList list="airplaneChecklistList" />
</section>

@code{

	private List<Airplane> airplaneChecklistList = new List<Airplane>();

	protected override async Task OnInitializedAsync()
	{
		await ReloadList();
		//return base.OnInitializedAsync();
	}


	private async Task ReloadList()
	{
		try{
			airplaneChecklistList = await _fileManager.GetAvailableAirplaneChecklists(_nlog);
		} catch(Exception ex)
		{
			_logger.LogError($"{ex.Message}");
		}
	}
}